
main .inner {

  
}
main .content {
  
  width: 80%;
  margin-top: 60px;
}

section {
  margin: 45px 25px 45px 0px;
}

#banner {
  
}
#banner .bannerBox {
  width: 1200px;
  overflow: hidden;
}
#banner .imgContainer {
  display: flex;
  transition: transform 500ms;
  margin-top: 10px;
}
#banner .imgInner ul {
  
  display: flex;
  width: 1200px;
}
#banner h2 {
  font-size: 0;
}
#banner a img {
  width: 1200px;
  border-radius: 20px;
  
  height: 440px;
}
#banner .imgInner ul li:nth-child(1) img {
  width: 540px;
  margin-right: 30px;
}
#banner .imgInner ul li:nth-child(2) img {
  width: 300px;
  margin-right: 30px;
}
#banner .imgInner ul li:nth-child(3) img {
  width: 300px;
}
#banner a img:hover {
  transition: transform 0.5s;
transform: translateY(-10px);
}
#banner .buttonBox {
  
  text-align: center;
}
#banner .buttonBox button {
  border-radius: 50%;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border: transparent;
  background-color: #9d9696;
  box-sizing: border-box;
  padding: 5px;
}
#origin {
  
  
}
#origin .cardLeft {
  
  width: 300px;
}
#origin .cardAll {
  height: 170px;
  position: relative;
  font-weight: 700;
}
#origin .cardAll a {
  color: blue;
  font-weight: 700;
  font-size: 14px;
  
}
#origin .cardAll a::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  bottom: 4px;
  left: 60px;
}
#origin .cardAll p {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 1.5;
}
#origin .hash {
  height: 50%;
  justify-content: center;
}
#origin .hash span {
  margin-top: 20px;
}
#origin .hash span a {
  border: 1px solid;
  border-radius: 20px;
  padding: 6px;
  font-size: 14px;
  font-weight: 700;
}
#origin .cardRight {
  
  width: 75%;
  padding-right: 60px;
  padding-top: 20px;
}
#origin .cardRight ul {
  
  text-align: center;
  flex-wrap: wrap;
  gap: 70px;
  align-items: center;
  justify-content: space-around;
}
#origin .cardRight li {
  margin-top: 50px;
  width: calc(100% / 4 - 70px);
}
#origin .cardRight a {
  
  height: 120px;
  display: block;
  font-weight: 700;
}
.cardRight li a:hover {
  transform: translateY(-10px);
  transition: transform 0.5s;
}
#origin .cardRight li a::before {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  transform: scale(1.6) translateX(34px) translateY(-30px);
}
#origin .cardRight li:nth-child(1) a::before {
  background-image: url(../img/card_TPE3_h.png);
}
#origin .cardRight li:nth-child(2) a::before {
  background-image: url(../img/card_TRE5_h.png);
}
#origin .cardRight li:nth-child(3) a::before {
  background-image: url(../img/card_TGE2_h.png);
}
#origin .cardRight li:nth-child(4) a::before {
  background-image: url(../img/card_TPI_h.png);
}
#origin .cardRight li:nth-child(5) a::before {
  background-image: url(../img/card_MBT_h.png);
}
#origin .cardRight li:nth-child(6) a::before {
  background-image: url(../img/card_XE3_h.png);
}
#origin .cardRight li:nth-child(7) a::before {
  background-image: url(../img/card_ZF_h.png);
}

#origin .cardRight li:nth-child(8) a::before {
  background-image: url(../img/card_ZROE2_h.png);
}

#brands::before {
  content: "";
  display: block;
  width: 100%;
  border-top: 2px solid #eee;
  position: absolute;
  left: -20px;
  top: -50px;
}
#brands {
  position: relative;
  
}

#brands .cardLeft {
  
  width: 300px;
}
#brands .cardAll {
  height: 170px;
  position: relative;
  font-weight: 700;
}
#brands .cardAll p {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 1.5;
}

#brands .cardAll a {
  color: blue;
  font-weight: 700;
  font-size: 14px;
  
}
#brands .cardAll a::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  bottom: 4px;
  left: 60px;
}
#brands .hash {
  height: 50%;
  justify-content: center;
}
#brands .hash span {
  margin-top: 20px;
}
#brands .hash span a {
  border: 1px solid;
  border-radius: 20px;
  padding: 6px;
  font-size: 14px;
  font-weight: 700;
}
#brands .cardRight {
  
  width: 75%;
  padding-right: 60px;
  padding-top: 20px;
}
#brands .cardRight ul {
  
  text-align: center;
  flex-wrap: wrap;
  gap: 70px;
  align-items: center;
  justify-content: space-around;
}
#brands .cardRight li {
  margin-top: 50px;
  width: calc(100% / 4 - 70px);
}
#brands .cardRight a {
  
  height: 120px;
  display: block;
  font-weight: 700;
}
#brands .cardRight li a::before {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  transform: scale(1.6) translateX(34px) translateY(-30px);
}
#brands .cardRight li:nth-child(1) a::before {
  background-image: url(../img/card_SGE2_h.png);
}
#brands .cardRight li:nth-child(2) a::before {
  background-image: url(../img/card_NXHC_h.png);
}
#brands .cardRight li:nth-child(3) a::before {
  background-image: url(../img/card_AMFM_h.png);
}
#brands .cardRight li:nth-child(4) a::before {
  background-image: url(../img/card_GCE2_h.png);
}
#brands .cardRight li:nth-child(5) a::before {
  background-image: url(../img/card_NVHC_h.png);
}
#brands .cardRight li:nth-child(6) a::before {
  background-image: url(../img/card_KALT3_h.png);
}
#brands .cardRight li:nth-child(7) a::before {
  background-image: url(../img/card_SBHC_h.png);
}

#brands .cardRight li:nth-child(8) a::before {
  background-image: url(../img/card_ESPE2_h.png);
}


#events {
  
}
#events .eventImg {
  
  flex-wrap: wrap;
}
#events ul {
  
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#events li {
  
  width: calc(100% / 4 - 20px);
}
#events li a {
  font-weight: 700;
}
#events li:hover {
  transform: translateY(-10px);
  transition: transform 0.5s;
}
#events li a img {
  width: 280px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

main .sidebar {
  width: 22%;
  position: relative;
  height: 1200px;
  margin-top: 70px;
}
 main .sidebar::after{
  content: "";
  border-left: 1px solid #eee;
  display: block;
  height: 2500px;
  position: absolute;
  top: 0;
  left: -20px;
}

#login {
  position: sticky;
  height: 400px;
  margin-left: 20px;
  width: 100%;  
  top: 80px;
  margin-top: 45px;
 
}
#login .rightLogin {
  width: 90%;
}
#login .loginHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#login .loginHeader h2 {
  font-size: 20px;
  font-weight: 700;
}
#login .loginHeader a {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
}
#login .loginHeader a:hover {
  text-decoration-line: underline;
}
#login .loginHeader a::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  top: 9px;
  right: -10px;
}
#login .loginbutton ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ebebeb;
  height: 40px;
  width: 100%;
  text-align: center;
  border-radius: 3px;
}
#login .loginbutton ul li:nth-child(1) {
  background-color: white;
  
  
  width: 48%;
  height: 38px;
  line-height: 2.3;
  border-radius: 3px;
}
#login .loginbutton ul li:nth-child(2) {
  width: 50%;
}
#login .loginbutton ul li:nth-child(2) a {
  color: #858585;
  
  
}
#login .loginbutton {
  margin: 20px 0px;
}
#login .password p {
  text-align: center;
  margin: 20px 0px;
  line-height: 1.5;
}
#login .password {
  display: flex;
  flex-direction: column;
  
}
#login .password button {
  background-color: black;
  color: white;
  font-weight: 700;
  height: 50px;
  border: transparent;
  border-radius: 10px;
}
#login .password a {
  text-align: end;
  margin: 20px 0px;
  position: relative;
  font-size: 15px;
}
#login .password a:hover {
  text-decoration-line: underline;
}
#login .password a::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  top: 5px;
  right: -10px;
}
#login .service ul {
  
  display: flex;
  border: 1px solid #858585;
  height: 80px;
  justify-content: space-around;
  align-items: end;
  border-radius: 7px;
  position: relative;
  width: 100%;
}
#login .service ul li{
  margin-bottom: 10px;
}
#login .service ul li:nth-child(1)::after, #login .service ul li:nth-child(2)::after {
  content: "";
  position: absolute;
  height: 80px;
  border-right: 1px solid #eee; 
  top: 0;
  transform: translateX(10px);
}
#login .service ul li a{
  padding: 50px 10px 5px 10px;
  box-sizing: border-box;
}
#login .service ul li a img {
  position: absolute;
  top: 10px;
  width: 40px;
  padding-left: 15px;
}
.finace {
  margin-top: 50px;
  margin-bottom: 50px;
}
.finace h2 {
  font-weight: 700;
  position: relative;
  font-size: 20px;
}
.finace h2:hover {
  text-decoration-line: underline;
}
.finace h2::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  top: 5px;
  right: 25px;
}
.finace ul {
  margin-top: 30px;
  border: 2px solid;
  border-radius: 20px;
  width: 318px;
  height: 252px;
  display: flex;
  flex-direction: column;
}
.finace ul li {
  height: calc(100% / 3);
  padding: 20px 20px 20px 20px;
  width: 100%;
  box-sizing: border-box;
}
.finace ul li:nth-child(1) {
  border-bottom: 1px solid #eee;
}
.finace ul li:nth-child(2) {
  border-bottom: 1px solid #eee;
}
.finace ul li a {
}
.finace ul li h3 {
  font-weight: 700;
}
.finace ul li p {
  font-size: 14px;
  line-height: 2;
}

.news h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
}
.news h2 a::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  top: 5px;
  right: 25px;
}
.news li {
  width: 318px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
.news li a {
  font-weight: 700;
  line-height: 2;
}
.news li a:hover {
  text-decoration-line: underline;
}
footer {
  margin-top: 100px;
}
footer .footerTop {
  line-height: 1.5;
  margin-bottom: 20px;
}
footer .footerTop h2 {
  font-weight: 700;
  font-size: 16px;
  position: relative;
  margin-bottom: 10px;
}
footer .footerTop h2::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  top: 5px;
  right: 25px;
}
footer .footerTop p {
  font-weight: 700;
  font-size: 14px;
}
footer .footerTop::after {
  content: "";
  display: block;
  width: 90%;
  border-bottom: 1px solid;
  margin-top: 20px;
}
footer .footerLink ul{
  display: flex;
  gap: 20px;
  font-weight: 700;
  font-size: 12px;
}
footer .footerTel {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.5;
  display: flex;
}
footer .footerTel p {
  font-weight: 700;
  font-size: 14px;
  display: flex;
}
footer .footerTel a {
  display: flex;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 700;
}
footer .footerCompany {
  
}
footer .footerCompany h2 {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}
footer .footerCompany ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  gap: 10px;
  margin-bottom: 10px;
}
footer .footerCompany ul li {
  width: calc(100% / 2 - 10px);
}

footer .footerCompany ul li a {
  color: #858585;
}
footer .footerCompany a {
  font-weight: 700;
  font-size: 14px;
}
footer .footerCompany a:hover {
  text-decoration-line: underline;
}
footer .footerAdress {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
}
