header {
  position: relative;
}

header .inner {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 3px 0 #ccc9c9;
  /*! position: fixed; */
}
header .inner:hover{
  box-shadow: initial;
}
header .left {
  margin-left: 10px;

}

header .left h1 {
  font-size: 0;
}

header .left h1.logo a {}

header .left h1 img {
  padding: 30px;

  box-sizing: border-box;
  width: 200px;
}

header .tnb {
  display: flex;
  margin-left: 10px;
  
}

header .tnb .tnbli {
  padding: 30px 30px 30px 30px;
  box-sizing: border-box;
  font-weight: 700;
}


header .tnb li:hover .account , header .tnb li:hover .menuCard , header .tnb li:hover .benefit , header .tnb li:hover .menuFinance , header .tnb li:hover .culture, header .tnb li:hover .customer {
  display: flex;
  z-index: 2;
}
header .tnb .tnbli:hover a::before {
  content: "";
  width: 110px;
  position: absolute;
  border-bottom: 2px solid black;
  bottom: 0;
  transform: translateX(-10px);
}
header .tnb .tnbli:nth-child(2):hover a::before, header .tnb .tnbli:nth-child(3):hover a::before, header .tnb .tnbli:nth-child(4):hover a::before, header .tnb .tnbli:nth-child(5):hover a::before {
  content: "";
  width: 55px;
  position: absolute;
  border-bottom: 2px solid black;
  bottom: 0;

}
header .tnb .tnbli:nth-child(6):hover a::before {
  content: "";
  width: 90px;
  position: absolute;
  border-bottom: 2px solid black;
  bottom: 0;

}
header .tnb .tnbli:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 81px;
  left: 0;
  height: 400px;
  width: 100%;
  background-color: white;
  z-index: 1;
}

header .account {
  display: none;
  position: absolute;
  top: 100px;
  width: 950px;
  flex-wrap: wrap;
  gap: 10px;
  height: 400px;
  font-size: 14px;
  left: 395px;
}
header .menuCard {
  display: none;
  position: absolute;
  top: 100px;
  width: 950px;
  flex-wrap: wrap;
  gap: 10px;
  height: 400px;
  font-size: 14px;
  left: 395px;
}
header .benefit {
  display: none;
  position: absolute;
  top: 100px;
  width: 950px;
  flex-wrap: wrap;
  gap: 10px;
  height: 400px;
  font-size: 14px;
  left: 395px;
}
header .menuFinance {
  display: none;
  position: absolute;
  top: 100px;
  width: 950px;
  flex-wrap: wrap;
  gap: 10px;
  height: 400px;
  font-size: 14px;
  left: 395px;
}
header .culture {
  display: none;
  position: absolute;
  top: 100px;
  width: 950px;
  flex-wrap: wrap;
  gap: 10px;
  height: 400px;
  font-size: 14px;
  left: 395px;
}
header .customer {
  display: none;
  position: absolute;
  top: 100px;
  width: 950px;
  flex-wrap: wrap;
  gap: 10px;
  height: 400px;
  font-size: 14px;
  left: 395px;
}

header .tnb ul {
  width: calc(100% / 4 - 10px);
}

header .tnb ul li {
  margin-top: 15px;
  padding: 0px;
}

header .tnb ul li a {
  color: #858585;
}

header .tnb h3 {
  font-weight: 700;
}

header .culture h4 {
  font-weight: 700;
}
header .culture .spaceImg , header .culture .cultureImg{
  display: flex;
  width: 100%;
  margin-top: 30px;
  
}
header .culture .spaceImg a , header .culture .cultureImg a {
  font-size: 0;
}
header .culture .spaceImg img {
  width: 100px;
  height: 50px;
  transform: translateX(-55px) translateY(20px);
}
header .culture .cultureImg img{
  width: 100px;
  height: 50px;
  transform: translateX(-65px) translateY(20px);
}

header .right {

  font-size: 14px;
  margin-right: 30px;
}

header .right ul {

  display: flex;
  padding: 20px;
}

header .right ul li {

  padding: 8px;
}

header .right ul li a {

  color: #959393;
}

header .right ul li:nth-child(3) a::after {
  content: "";

}

header .search {

  border: 1px solid;
  width: 270px;
  border-radius: 18px;
  height: 40px;
  text-align: center;
  line-height: 2.8;
}
header .search::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/search_black_24dp.svg);
  top: 30px;
  right: 275px;
  z-index: 1;
}